<div class="form-actions">
<h4>Forgot your password?</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-inline">
      <%= f.email_field :email, autofocus: true, placeholder: "Email Id" %>
      <%= f.submit "Send password", class: "btn-small" %>
    </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
