<div class="form-actions">
<h4>Sign in</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table class="table">
  <tr>
    <td class="span2"><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>
  <tr>
    <td class="span2"><%= f.label :password %></td>
    <td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>
  <tr>
    <td class="btn-small"><%= f.submit "Sign in" %></td><td></td>
  </tr>
</table>
<% end %>
<%= render "devise/shared/links" %>
</div>
