<div class="form-actions">
<h2>Sign in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table class="table-stripped">
  <tr>
    <td class="span3"><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>
  <tr>
    <td class="span3"><%= f.label :password %></td>
    <td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>

  <% if devise_mapping.rememberable? -%>
  <tr>
    <td class="span3"><%= f.check_box :remember_me %><%= f.label :remember_me %></td>
  </tr>
  <% end -%>
  <tr>
    <td class="btn"><%= f.submit "Sign in" %></td>
  </tr>
</table>
<% end %>
<div class="btn-link"><%= render "devise/shared/links" %></div>
</div>