<%= form_for(:micropost) do |f| %>
<table class="table">
  <tr>
    <td>To:</td>
    <td><%= f.select(:to_user, options_for_select(User.all.map(&:name))) %></td>
  </tr>
  <tr>
    <td class="span1"><%= f.label :content %></td>
    <td class="span1"><%= f.text_field :content %></td>
    <td><%= f.submit "Send" %></td>
  </tr>
<% end %>
