<div class="container">
  <b>New Post:</b>
  <%= render 'form' %>
<table class="table">
  <tr>
    <th>Content</th>
    <th>By</th>
    <th>To</th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= link_to micropost.content, micropost %></td>
    <td><%= link_to micropost.user.name, user_path(micropost.user) %></td>
    <td><%= User.find(micropost.to_user).name %></td>
    <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>