<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DemoApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel=”stylesheet” href="bootstrap.css"  type="text/css"/>
    <link rel="shortcut icon" href="favicon.jpeg" />
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
    <div class="page-header">
      <%= render :partial => '/shared/header_links' %>
      <h2 class="h2"><a href="#">My App</a></h2>
    </div>
  	<%= render :partial => '/shared/header_nav' if @current_user %>
    <div class="text-info"><%= render 'layouts/messages' %></div>

     <div class="text-error"><%= devise_error_messages! %></div>

        <%= yield %>

    <footer class="navbar">
      This website is created and maintained by <b>T Ajit</b>.
    </footer>

  </div>
  </body>
</html>
